html {
  height: 100%;
  width: 100%;
}

img {
  width: 100px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color :black;
}

path{
  filter:url(#filter);
}

.blur {
  filter:blur(10px);
} 

.brightness{
  filter:brightness(.7);
}

.contrast{
  filter:contrast(200%);
}

.Drop Shadow{
  filter:drop-shadow(16px 16px 20px blue);
}

.Grayscale{
  filter:grayscale(50%);
}

.Hue Rotate{
  filter:hue-rotate(90deg);
}

.Invert{
  filter:invert(75%);
}
.Opacity{
filter:opacity(25%);
}
.saturate{
  filter:saturate(30%);
}

.Sepia{
filter:sepia(60%);
}
